[submodule "BrushNet"]
	path = BrushNet
	url = https://github.com/TencentARC/BrushNet
[submodule "modules/FoundationPose"]
	path = modules/FoundationPose
	url = https://github.com/NVlabs/FoundationPose
[submodule "modules/BrushNet"]
	path = modules/BrushNet
	url = https://github.com/TencentARC/BrushNet
[submodule "modules/InstantMesh"]
	path = modules/InstantMesh
	url = https://github.com/TencentARC/InstantMesh
[submodule "modules/Grounded-Segment-Anything"]
	path = modules/Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything
[submodule "scenecomplete/modules/dino-vit-features"]
	path = scenecomplete/modules/dino-vit-features
	url = https://github.com/ShirAmir/dino-vit-features
